/* --------------------- Centro -------------------- */


.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: left;
  color: @white;
  background: url("../images/home/perspective-thsl-jobs.jpg") no-repeat center center #395c79;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;



  .intro-body {
    display: table-cell;
    vertical-align: middle;

    @media (max-width: @screen-sm) {
      text-align: left;
    }

    h1 {
      font-size: 6rem;
      line-height: normal;
      margin: 0;
    }

    p {
      line-height: normal;
      margin: 0;

      
    }
    .strong {
      font-weight: 900;
    }

  }







}

.isometric-screens {

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  overflow: visible;

  .isometric-itens {
    position: relative;
    height: auto;
    overflow: visible;

    .iso-item {
      position: absolute;
      width: 100%;
    }

  }
}