/*------------------- Trabalhos -------------------*/

#trabalhos {

  padding-bottom: 0;
  background-color: @greydarker;
  color: @white;

  .listagem {
    padding: 0 0 6em 0;

    .job {
      //overflow: hidden;
      padding: 5rem 0 8rem 0;
      position: relative;
      transition: all .4s ease-out;
      //margin: 2.5rem;
      cursor: pointer;

      .card-portfolio {
        position: relative;
        transform-style: preserve-3d;

        .card-content {
          position: relative;

          .img-bck {
            position: relative;
          }

          .img-over {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            transform: translateZ(10px);
          }
        }
      }
      .bigimg-01{
        position: absolute;
        top: 0;
      }
     
    }
  }
}