@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 400;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Regular.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 100;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Thin.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 200;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 300;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Light.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 500;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Medium.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 600;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-SemiBold.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 700;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Bold.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 800;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-ExtraBold.woff) format('woff');
}
@font-face {
  font-family: spartan;
  font-style: normal;
  font-weight: 900;
  src: local('Spartan'), url(https://fonts.cdnfonts.com/s/46626/Spartan-Black.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), url('https://fonts.cdnfonts.com/s/15202/DroidSerif-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif'), url('https://fonts.cdnfonts.com/s/15202/DroidSerif-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif'), url('https://fonts.cdnfonts.com/s/15202/DroidSerif-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif'), url('https://fonts.cdnfonts.com/s/15202/DroidSerif-BoldItalic.woff') format('woff');
}
/* --------------------- Centro -------------------- */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: left;
  color: #797877;
  background: #ffffff;
  /*background: -moz-linear-gradient(-45deg, rgba(57, 92, 121, 1) 0%, rgba(95, 148, 191, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(57, 92, 121, 1)), color-stop(100%, rgba(95, 148, 191, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(57, 92, 121, 1) 0%, rgba(95, 148, 191, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(57, 92, 121, 1) 0%, rgba(95, 148, 191, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(57, 92, 121, 1) 0%, rgba(95, 148, 191, 1) 100%);
  background: linear-gradient(135deg, rgba(57, 92, 121, 1) 0%, rgba(95, 148, 191, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#395c79', endColorstr='#5f94bf', GradientType=1);*/
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .intro .intro-body {
    text-align: left;
  }
}
.intro .intro-body h1 {
  color: #5C5B59;
  text-fill-color: transparent;
}
.isometric-screens {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.isometric-screens .isometric-itens {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.isometric-screens .isometric-itens .item1,
.isometric-screens .isometric-itens .item2,
.isometric-screens .isometric-itens .item3,
.isometric-screens .isometric-itens .item4,
.isometric-screens .isometric-itens .item5,
.isometric-screens .isometric-itens .item6 {
  position: absolute;
  width: auto;
}
.isometric-screens .isometric-itens .item1 {
  top: 10%;
  right: -30%;
}
.isometric-screens .isometric-itens .item2 {
  top: 12%;
  right: -19%;
}
.isometric-screens .isometric-itens .item3 {
  top: 7%;
  right: -9%;
}
.isometric-screens .isometric-itens .item4 {
  top: 5%;
  right: -9%;
}
.isometric-screens .isometric-itens .item5 {
  top: 41%;
  right: -14%;
}
.isometric-screens .isometric-itens .item6 {
  top: 5%;
  right: -60%;
}
/*------------------- Contato -------------------*/
#contato {
  background: url(../images/home/bck-contato.jpg) no-repeat center center fixed #466f79;
  background-size: cover;
  -o-background-size: cover;
  color: #24AEDD;
  text-align: center;
}
#contato .contactnumber {
  margin-top: 30px;
}
#contato .contactnumber a {
  color: #24AEDD;
}
#contato .contactnumber:before,
#contato .contactnumber:after {
  content: " ";
  display: table;
}
#contato .contactnumber:after {
  clear: both;
}
#contato .contactnumber .coutry {
  font-size: 29px;
}
@media (max-width: 992px) {
  #contato .contactnumber .coutry {
    font-size: 19px;
  }
}
#contato .contactnumber .city {
  font-size: 29px;
}
@media (max-width: 992px) {
  #contato .contactnumber .city {
    font-size: 19px;
  }
}
#contato .contactnumber .number {
  font-size: 52px;
}
@media (max-width: 992px) {
  #contato .contactnumber .number {
    font-size: 42px;
  }
}
#contato .mail .mailto {
  font-size: 25px;
}
@media (max-width: 992px) {
  #contato .mail .mailto {
    font-size: 18px;
  }
}
.btn-social {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  padding: 0;
  font-size: 32px;
  color: #24AEDD;
  border-radius: 15px;
  background: transparent;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
footer {
  margin-top: 0;
  padding: 30px 0;
  background-color: #1b1b1b;
  color: #fff;
}
footer p {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
/* --------------------- global -------------------- */
body {
  width: 100%;
  height: 100%;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #797877;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
html {
  width: 100%;
  height: 100%;
}
.wrapper {
  overflow: hidden;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Droid Serif', 'Times', serif;
  font-weight: 900;
  letter-spacing: -0.04em;
  position: relative;
  line-height: initial;
}
.divisor-title {
  padding-bottom: 64px;
}
.divisor-title::after {
  position: absolute;
  width: 40%;
  bottom: 32px;
  content: '';
  height: 1px;
  background-color: #f2f2f2;
  left: 0;
  opacity: 0.2;
}
h1,
.h1 {
  font-size: 5.61rem;
}
h2,
.h2 {
  font-size: 4.209rem;
}
h3,
.h3 {
  font-size: 3.157rem;
}
h4,
.h4 {
  font-size: 2.369rem;
}
h5,
.h5 {
  font-size: 1.777rem;
}
h6,
.h6 {
  font-size: 1.333rem;
}
p {
  margin: 0 0 25px;
  line-height: 1.5;
}
/*@media (min-width: 767px) {
  p {
    margin: 0 0 20px;
    line-height: 1.2;
  }
}*/
a {
  color: #24AEDD;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #156986;
}
strong {
  font-weight: 700 !important;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.light {
  font-weight: 400;
}
.btn {
  font-family: 'Droid Serif', 'Times', serif;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: none;
  color: #f2f2f2;
  background-color: #49717c;
}
.btn-default:hover,
.btn-default:focus {
  border: none;
  outline: none;
  color: #f2f2f2;
  background-color: #6ba3b3;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(242, 242, 242, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(242, 242, 242, 0.2);
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(242, 242, 242, 0.2);
}
.content-section {
  padding: 60px 0;
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
}
.content-section .inner {
  margin: 30px auto;
}
.img-responsive {
  width: 100%;
}
.img-adaptative {
  max-width: 100%;
  height: auto;
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
@media (max-width: 767px) {
  .mc-sm {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 4px;
  }
  .mr-xs {
    margin-right: 4px;
  }
  .mb-xs {
    margin-bottom: 4px;
  }
  .ml-xs {
    margin-left: 4px;
  }
  .mt-sm {
    margin-top: 8px;
  }
  .mr-sm {
    margin-right: 8px;
  }
  .mb-sm {
    margin-bottom: 8px;
  }
  .ml-sm {
    margin-left: 8px;
  }
  .mt-md {
    margin-top: 11px;
  }
  .mr-md {
    margin-right: 11px;
  }
  .mb-md {
    margin-bottom: 11px;
  }
  .ml-md {
    margin-left: 11px;
  }
  .mt-lg {
    margin-top: 23px;
  }
  .mr-lg {
    margin-right: 23px;
  }
  .mb-lg {
    margin-bottom: 23px;
  }
  .ml-lg {
    margin-left: 23px;
  }
  .mt-xl {
    margin-top: 38px;
  }
  .mr-xl {
    margin-right: 38px;
  }
  .mb-xl {
    margin-bottom: 38px;
  }
  .ml-xl {
    margin-left: 38px;
  }
  .pt-xs {
    padding-top: 4px;
  }
  .pr-xs {
    padding-right: 4px;
  }
  .pb-xs {
    padding-bottom: 4px;
  }
  .pl-xs {
    padding-left: 4px;
  }
  .pt-sm {
    padding-top: 8px;
  }
  .pr-sm {
    padding-right: 8px;
  }
  .pb-sm {
    padding-bottom: 8px;
  }
  .pl-sm {
    padding-left: 8px;
  }
  .pt-md {
    padding-top: 11px;
  }
  .pr-md {
    padding-right: 11px;
  }
  .pb-md {
    padding-bottom: 11px;
  }
  .pl-md {
    padding-left: 11px;
  }
  .pt-lg {
    padding-top: 23px;
  }
  .pr-lg {
    padding-right: 23px;
  }
  .pb-lg {
    padding-bottom: 23px;
  }
  .pl-lg {
    padding-left: 23px;
  }
  .pt-xl {
    padding-top: 38px;
  }
  .pr-xl {
    padding-right: 38px;
  }
  .pb-xl {
    padding-bottom: 38px;
  }
  .pl-xl {
    padding-left: 38px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mc-md {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 4px;
  }
  .mr-xs {
    margin-right: 4px;
  }
  .mb-xs {
    margin-bottom: 4px;
  }
  .ml-xs {
    margin-left: 4px;
  }
  .mt-sm {
    margin-top: 8px;
  }
  .mr-sm {
    margin-right: 8px;
  }
  .mb-sm {
    margin-bottom: 8px;
  }
  .ml-sm {
    margin-left: 8px;
  }
  .mt-md {
    margin-top: 11px;
  }
  .mr-md {
    margin-right: 11px;
  }
  .mb-md {
    margin-bottom: 11px;
  }
  .ml-md {
    margin-left: 11px;
  }
  .mt-lg {
    margin-top: 23px;
  }
  .mr-lg {
    margin-right: 23px;
  }
  .mb-lg {
    margin-bottom: 23px;
  }
  .ml-lg {
    margin-left: 23px;
  }
  .mt-xl {
    margin-top: 38px;
  }
  .mr-xl {
    margin-right: 38px;
  }
  .mb-xl {
    margin-bottom: 38px;
  }
  .ml-xl {
    margin-left: 38px;
  }
  .pt-xs {
    padding-top: 4px;
  }
  .pr-xs {
    padding-right: 4px;
  }
  .pb-xs {
    padding-bottom: 4px;
  }
  .pl-xs {
    padding-left: 4px;
  }
  .pt-sm {
    padding-top: 8px;
  }
  .pr-sm {
    padding-right: 8px;
  }
  .pb-sm {
    padding-bottom: 8px;
  }
  .pl-sm {
    padding-left: 8px;
  }
  .pt-md {
    padding-top: 11px;
  }
  .pr-md {
    padding-right: 11px;
  }
  .pb-md {
    padding-bottom: 11px;
  }
  .pl-md {
    padding-left: 11px;
  }
  .pt-lg {
    padding-top: 23px;
  }
  .pr-lg {
    padding-right: 23px;
  }
  .pb-lg {
    padding-bottom: 23px;
  }
  .pl-lg {
    padding-left: 23px;
  }
  .pt-xl {
    padding-top: 38px;
  }
  .pr-xl {
    padding-right: 38px;
  }
  .pb-xl {
    padding-bottom: 38px;
  }
  .pl-xl {
    padding-left: 38px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mc-lg {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 5px;
  }
  .mr-xs {
    margin-right: 5px;
  }
  .mb-xs {
    margin-bottom: 5px;
  }
  .ml-xs {
    margin-left: 5px;
  }
  .mt-sm {
    margin-top: 10px;
  }
  .mr-sm {
    margin-right: 10px;
  }
  .mb-sm {
    margin-bottom: 10px;
  }
  .ml-sm {
    margin-left: 10px;
  }
  .mt-md {
    margin-top: 15px;
  }
  .mr-md {
    margin-right: 15px;
  }
  .mb-md {
    margin-bottom: 15px;
  }
  .ml-md {
    margin-left: 15px;
  }
  .mt-lg {
    margin-top: 30px;
  }
  .mr-lg {
    margin-right: 30px;
  }
  .mb-lg {
    margin-bottom: 30px;
  }
  .ml-lg {
    margin-left: 30px;
  }
  .mt-xl {
    margin-top: 50px;
  }
  .mr-xl {
    margin-right: 50px;
  }
  .mb-xl {
    margin-bottom: 50px;
  }
  .ml-xl {
    margin-left: 50px;
  }
  .pt-xs {
    padding-top: 5px;
  }
  .pr-xs {
    padding-right: 5px;
  }
  .pb-xs {
    padding-bottom: 5px;
  }
  .pl-xs {
    padding-left: 5px;
  }
  .pt-sm {
    padding-top: 10px;
  }
  .pr-sm {
    padding-right: 10px;
  }
  .pb-sm {
    padding-bottom: 10px;
  }
  .pl-sm {
    padding-left: 10px;
  }
  .pt-md {
    padding-top: 15px;
  }
  .pr-md {
    padding-right: 15px;
  }
  .pb-md {
    padding-bottom: 15px;
  }
  .pl-md {
    padding-left: 15px;
  }
  .pt-lg {
    padding-top: 30px;
  }
  .pr-lg {
    padding-right: 30px;
  }
  .pb-lg {
    padding-bottom: 30px;
  }
  .pl-lg {
    padding-left: 30px;
  }
  .pt-xl {
    padding-top: 50px;
  }
  .pr-xl {
    padding-right: 50px;
  }
  .pb-xl {
    padding-bottom: 50px;
  }
  .pl-xl {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .mc-xl {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 8px;
  }
  .mr-xs {
    margin-right: 8px;
  }
  .mb-xs {
    margin-bottom: 8px;
  }
  .ml-xs {
    margin-left: 8px;
  }
  .mt-sm {
    margin-top: 15px;
  }
  .mr-sm {
    margin-right: 15px;
  }
  .mb-sm {
    margin-bottom: 15px;
  }
  .ml-sm {
    margin-left: 15px;
  }
  .mt-md {
    margin-top: 23px;
  }
  .mr-md {
    margin-right: 23px;
  }
  .mb-md {
    margin-bottom: 23px;
  }
  .ml-md {
    margin-left: 23px;
  }
  .mt-lg {
    margin-top: 45px;
  }
  .mr-lg {
    margin-right: 45px;
  }
  .mb-lg {
    margin-bottom: 45px;
  }
  .ml-lg {
    margin-left: 45px;
  }
  .mt-xl {
    margin-top: 75px;
  }
  .mr-xl {
    margin-right: 75px;
  }
  .mb-xl {
    margin-bottom: 75px;
  }
  .ml-xl {
    margin-left: 75px;
  }
  .pt-xs {
    padding-top: 8px;
  }
  .pr-xs {
    padding-right: 8px;
  }
  .pb-xs {
    padding-bottom: 8px;
  }
  .pl-xs {
    padding-left: 8px;
  }
  .pt-sm {
    padding-top: 15px;
  }
  .pr-sm {
    padding-right: 15px;
  }
  .pb-sm {
    padding-bottom: 15px;
  }
  .pl-sm {
    padding-left: 15px;
  }
  .pt-md {
    padding-top: 23px;
  }
  .pr-md {
    padding-right: 23px;
  }
  .pb-md {
    padding-bottom: 23px;
  }
  .pl-md {
    padding-left: 23px;
  }
  .pt-lg {
    padding-top: 45px;
  }
  .pr-lg {
    padding-right: 45px;
  }
  .pb-lg {
    padding-bottom: 45px;
  }
  .pl-lg {
    padding-left: 45px;
  }
  .pt-xl {
    padding-top: 75px;
  }
  .pr-xl {
    padding-right: 75px;
  }
  .pb-xl {
    padding-bottom: 75px;
  }
  .pl-xl {
    padding-left: 75px;
  }
}
/* Fadein e FadeOut */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.text-white {
  color: #fff;
}
.text-white a {
  color: #fff;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-fixed {
  position: fixed;
}
.btn-outline {
  color: #797877;
  border: 2px solid #797877;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 16px 0;
  line-height: 3;
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}
.btn-outline:hover {
  color: #ffffff;
  border: 2px solid #5C5B59;
  cursor: pointer;
  background-color: #797877;
}
@media (max-width: 768px) {
  .btn-outline {
    white-space: nowrap;
  }
}
.btn-white {
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.btn-black {
  color: #717171;
  border: 2px solid #717171;
}
.btn-danger {
  color: #d9534f;
  border: 2px solid #d9534f;
  background-color: transparent;
}
.primary-font {
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.secondary-font {
  font-family: 'Droid Serif', 'Times', serif !important;
}
.rounded-sm {
  border-radius: 0.5em;
}
.rounded-md {
  border-radius: 1em;
}
.shadow-md {
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}
.modal-open {
  overflow: hidden;
}
.modal-open .wrapper {
  -webkit-filter: blur(5px) grayscale(100%);
          filter: blur(5px) grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal-open .modal-backdrop,
.modal-open .modal-backdrop.in {
  opacity: 0.9;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 1199px) {
  .modal-dialog {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .modal-dialog {
    width: 95%;
  }
}
.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-clip: padding-box;
  outline: 0;
  border-radius: 0;
  border: 0;
}
@media (min-width: 992px) {
  .modal-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modalfixedtop {
  position: fixed;
  right: 16px;
  left: -15px;
  top: 0;
  z-index: 99999;
  padding: 0;
  margin: 0 auto 0 20px;
  background: #1a2d3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a2d3c), color-stop(41%, rgba(26, 45, 60, 0.34217437)), color-stop(81%, rgba(26, 45, 60, 0)));
  background: linear-gradient(180deg, #1a2d3c 0%, rgba(26, 45, 60, 0.34217437) 41%, rgba(26, 45, 60, 0) 81%);
}
.modalfixedtop .fixed-top-inner {
  height: 80px;
  position: relative;
}
.modalfixedtop .fixed-top-inner .closebtn {
  position: absolute;
  text-align: center;
  background-color: transparent;
  opacity: 1;
  float: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
  height: 42px;
  width: 42px;
  right: 32px;
  top: 16px;
}
.modal-header {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}
.modal-header .bck-header {
  background-position: center center;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(3px) grayscale(100%);
  -moz-filter: blur(3px) grayscale(100%);
  -o-filter: blur(3px) grayscale(100%);
  -ms-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.modal-header .modal-title {
  margin: 0;
  margin-top: 8rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 4px rgba(88, 88, 88, 0.77);
  -webkit-filter: none !important;
          filter: none !important;
  margin-left: auto;
  margin-right: auto;
}
.modal-header .modal-title h4 {
  font-family: 'Droid Serif', 'Times', serif;
  font-size: 35px;
  letter-spacing: -0.035em;
}
.modal-header .modal-title p {
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
}
.projeto-exp {
  background-color: #4caf50;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
.projeto-exp p {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.projeto-exp .exp-icon {
  font-size: 20px;
  text-shadow: 0 1px 4px rgba(88, 88, 88, 0.77);
}
.modal-body {
  position: relative;
  padding: 0;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  color: #1A2D3C;
  background-color: #ffffff;
}
.modal-body .spacer-content {
  padding: 6rem;
}
@media (min-width: 768px) {
  padding: 30px 5%;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  /*.modal-dialog {
  width: 90%;
  margin: 30px auto;
}*/
  .modal-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .modal-title {
    with: 100%;
  }
}
.titulosmodal {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.participacao .titulosmodal {
  font-size: 1rem;
  font-weight: 700;
}
.statusdoprojeto .circles-text {
  font-weight: 100;
}
.statusdoprojeto .circles-text .percentual {
  font-size: 50%;
}
.workinproject {
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 5px 0 0 0;
  border-radius: 30px;
  font-size: 18px;
  color: #5C5B59;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  margin: 8px auto;
}
.participacao {
  margin: 0 auto;
}
.modal .img-responsive {
  margin: 0 auto;
}
.modal-backdrop {
  background-color: #1A2D3C;
}
/* --------------------- Barra de navegação -------------------- */
.navbar-custom {
  margin-bottom: 0;
  background-color: #45757a;
}
.navbar-custom .logo-thsl.logo-top {
  display: none;
}
@media (max-width: 768px) {
  .navbar-custom .logo-thsl.logo-top {
    display: block;
  }
}
.navbar-custom .navbar-brand {
  width: auto;
}
.navbar-custom .navbar-brand h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  letter-spacing: -0.03em;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 12px;
  color: #f2f2f2;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: #f2f2f2;
}
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(242, 242, 242, 0.3);
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 100;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: none;
  background-color: rgba(242, 242, 242, 0.3);
}
.navbar-custom .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 15px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #32575b;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  height: 49px;
  font-size: 20px;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #45757a;
  }
  .navbar-custom.top-nav-collapse .nav {
    text-transform: uppercase;
    padding: 0;
    float: right;
  }
  .navbar-custom.top-nav-collapse .logo-thsl.logo-top {
    display: block;
  }
}
.logo-thsl.logo-top .text-t {
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 4px 0 0 1px;
  font-family: "droid", Georgia, "Times New Roman", Arial, sans-serif;
  border-radius: 50px;
  font-size: 15px;
  color: #f2f2f2;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 1px 4px rgba(88, 88, 88, 0.77);
          box-shadow: 0 1px 4px rgba(88, 88, 88, 0.77);
  margin-top: 10px;
}
.nav-top {
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding: 32px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
.nav-top a {
  color: #fff;
  font-weight: 700;
}
/*------------------- Quem sou -------------------*/
#quemsou {
  background: linear-gradient(133deg, #333 0%, #000 129.44%);
  color: #ffffff;
  padding: 32px;
}
#quemsou .circles-text {
  font-weight: 100;
}
#quemsou .circles-text .percentual {
  font-size: 50%;
}
@media (max-width: 992px) {
  #quemsou .btn-download {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  #quemsou {
    overflow: hidden;
  }
}
#skills {
  text-align: left;
}
#skills .skillsdescription {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
#skills .progress {
  height: 8px;
  background-color: #c1c1c1;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  border-radius: 0px;
}
#skills .progress .progress-bar {
  background: #4d4d4d;
  border: 0px;
  border-radius: 0px;
  height: 8px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Spartan', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 40px;
  padding-left: 25px;
  cursor: pointer;
  margin: 0;
}
#skills .progress .progress-bar:hover {
  background-color: #4d4d4d;
}
#skills .sub-bars {
  margin-left: 25px;
}
#skills .sub-bars .progress {
  height: 30px;
  margin-bottom: 10px;
}
#skills .sub-bars .progress .progress-bar {
  height: 30px;
  line-height: 30px;
}
.metodos {
  color: #717171;
  padding-top: 60px;
}
.metodos .metod-icons {
  text-align: left;
  margin: 20px auto;
  width: auto;
}
.metodos .metod-icons .met-icon {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  margin: 7px 0px;
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #717171;
  border: 2px solid #717171;
  background: transparent;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.metodos .metod-icons .met-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: -7px;
  left: -7px;
  padding: 7px;
  -webkit-box-shadow: 0 0 0 4px rgba(113, 113, 113, 0.1);
          box-shadow: 0 0 0 4px rgba(113, 113, 113, 0.1);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
}
.metodos .metod-icons .met-icon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.metodos .metod-icons .met-icon:hover {
  background-color: rgba(113, 113, 113, 0.1);
  color: #717171;
}
.metodos .metod-icons .met-icon:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.metodos .metodos-img-box {
  position: relative;
  min-height: 500px;
}
@media (max-width: 768px) {
  .metodos .metodos-img-box {
    min-height: 240px;
  }
}
.metodos .metodos-img-box .metodos-img {
  position: absolute;
  -webkit-transform: translate(0px, -110px);
          transform: translate(0px, -110px);
  width: 160%;
}
@media (max-width: 1200px) {
  .metodos .metodos-img-box .metodos-img {
    -webkit-transform: translate(-70px, -20px);
            transform: translate(-70px, -20px);
    width: 160%;
  }
}
@media (max-width: 992px) {
  .metodos .metodos-img-box .metodos-img {
    -webkit-transform: translate(-70px, -20px);
            transform: translate(-70px, -20px);
    width: 160%;
  }
}
@media (max-width: 768px) {
  .metodos .metodos-img-box .metodos-img {
    -webkit-transform: translate(-110px, -50px);
            transform: translate(-110px, -50px);
    width: 150%;
  }
}
@media (max-width: 480px) {
  .metodos .metodos-img-box .metodos-img {
    -webkit-transform: translate(-110px, -20px);
            transform: translate(-110px, -20px);
    width: 260%;
  }
}
/*------------------- Trabalhos -------------------*/
#trabalhos {
  overflow: hidden;
  padding-bottom: 0;
  background-color: #ffffff;
  color: #5C5B59;
}
#trabalhos .listagem {
  background-color: #ffffff;
}
#trabalhos .listagem .job {
  overflow: hidden;
  margin: 0 0 -1px 0;
  padding: 5rem 5rem 7.5rem 5rem;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin: 2.5rem;
}
#trabalhos .listagem .job .fill-image {
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 40%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media (max-width: 768px) {
  #trabalhos .listagem .job .fill-image {
    padding-top: 50%;
  }
}
@media (min-width: 1200px) {
  #trabalhos .listagem .job .fill-image {
    padding-top: 30%;
  }
}
#trabalhos .listagem .job .img-imgjobscontent {
  margin-top: 30px;
  text-align: center;
}
#trabalhos .listagem .job:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#trabalhos .listagem .job:hover .text-muted {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}
#trabalhos .listagem .job:hover .text-white {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.31);
}
/*
.backgounds-variacoes(@projeto-folder, @projeto) {
  background-image: url("../portfolio/images/@{projeto-folder}/jobshome-@{projeto}_lg.jpg");
  @media (min-width: @screen-sm) {

  }
  @media (min-width: @screen-md) {
  }
  @media (min-width: @screen-lg) {
  }
}
.about {
  .backgounds-variacoes(about, about);
}

.atmosfero {
  .backgounds-variacoes(atmosfero, atmosfero);
}

.cespe {
  .backgounds-variacoes(cespe, cespe);
}

.fnde-portal {
  .backgounds-variacoes("fnde/portal", fnde-portal);
}

.fnde-caminho {
  .backgounds-variacoes("fnde/publicidade/caminhoescola", fnde-caminho);
}

.guii {
  .backgounds-variacoes(guii, guii);
}

.mj-portal {
  .backgounds-variacoes("mj/portal", mj-portal);
}

.mj-app {
  .backgounds-variacoes("mj/mj-app", mj-app);
}

.zenite {
  .backgounds-variacoes(zenite, zenite);
}

.sicoob-micro {
  .backgounds-variacoes(sicoob-micro, sicoob-micro);
}

.jm {
  .backgounds-variacoes(jm, jm);
}

.basa {
  .backgounds-variacoes(basa, basa);
}

.edulivre {
  .backgounds-variacoes(edulivre, edulivre);
}

.img-solta {
  position: relative;
  padding-bottom: 50%;
  .img-solta-content {
    position: absolute;
    z-index: 1;
  }
}
*/
/*# sourceMappingURL=styles.css.map */